.square-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: solid palegreen 2px;
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 40px;
}