.calc-screen-main {
  justify-content: end;
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 0 1 auto;
  font-size: 50px;
  background-color: rgb(94, 94, 94);
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.calc-screen-col {
  display: flex;
  flex-direction: column;
}
.calc-screen-total {
  font-size: 20px;
}
.calc-screen-total,
.calc-screen-value {
  display: flex;
  justify-content: flex-end;
}
