.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.button-row{
  width: 200px;
  justify-content: space-evenly;
}
.main{
  display: flex;
  flex-direction: column;
  height: 100%;
}