.calc-numpad-main {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: auto auto auto auto;
}

.calc-numpad-main > *:nth-child(4n-2):nth-last-of-type(1) {
  grid-column: span 3;
}
.calc-numpad-main > *:nth-child(4n-1):nth-last-of-type(1) {
  grid-column: span 2;
}
