.calc-numpad-main {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: repeat(4, 1fr);
}
.index-0 {
  grid-column: span 1;
}
.index-1 {
  grid-column: span 3;
}

.calc-numpad-main:first-child {
  grid-column: span 2;
}

.calc-numpad-main > *:nth-child(4n-2):nth-last-of-type(1) {
  grid-column: span 3;
}
.calc-numpad-main > *:nth-child(4n-3):nth-last-of-type(1) {
  grid-column: span 2;
}
